*.suo
*.suo
/SistemaCredito/Capa_Presentacion/obj/Debug/es-MX
/SistemaCredito/Capa_Presentacion/obj/Debug
/SistemaCredito/Capa_Presentacion/bin/Debug/af-ZA
/SistemaCredito/Capa_Presentacion/bin/Debug/es-MX
/SistemaCredito/Capa_Presentacion/bin/Debug/Capa_Presentacion.exe
/SistemaCredito/Capa_Presentacion/bin/Debug/Capa_Presentacion.pdb
/SistemaCredito/Capa_Presentacion/bin/Debug/Capa_Presentacion.xml
SistemaCredito/Capa_Presentacion/Principal/Procesos/AsignacionLotes.Designer.vb
